.construction {
  text-align: center;
  color: white;
  display: inline-block;
  width: 100%;
  background: repeating-linear-gradient(
  45deg,
  #000,
  #000 10px,
  #fee336 10px,
  #fee336 20px
  );
}

.construction h2 {
  background-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
}


body {
  width :100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #07225a;
  font-family: 'Raleway', sans-serif;
}

.Menu {
  text-align: center;
  margin-bottom: 10px;
}

.Menu h3 {
  padding: 0px;
  margin: 0px;
  border-top: 10px solid #07225a;
  padding-top: 10px;
}

.Menu a {
  font-size: 1.5em;
  text-decoration: none !important;
  color: #07225a !important;
  margin-left: 20px;
  margin-right: 20px;

  /* This should be equal to .Menu h3 padding-top to overlap */
  padding-top: 10px;
}

.Menu a:hover {
  border-top: 10px solid #9affe7;
  color: #9affe7 !important;
}

.Main h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

.ContactBar {
  text-align: center;
}

.ContactBar a {
  background: white;
  font-size: 2em;
  border: none;
  text-decoration: none;
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 0.4em;
  margin: 0.3em;
  transition: color 0.5s ease;
}

.ContactBar a:hover {
  color: rgb(54, 209, 255);
}




.projekt {
  overflow: hidden;
  border-left: 2px solid black;
  margin-left: 20px;
}

.projekt li {
  float: left;
  margin: 20px;
  color: black;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.projekt-sample {
  display: inline-block;
  width: 12em;
  background-color: white;
  position: relative;
}

.projekt-sample img {
  width: 12em;
  height: 12em;
  margin: 0px;
}

.links {
  list-style-type: none;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.links a {
  cursor: pointer;
}

.links img {
  height: 2.5em;
  width: 2.5em;
}

.links a:hover img {
  background-color: rgb(54, 209, 255);
  border-radius: 50%;
}




.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.projekt-sample:hover .overlay {
  bottom: 0;
  height: 100%;
}
