body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  color: #07225a;
  background: #bbc2d3;
  overflow-x: hidden;
  font-family: "Sono", monospace;
  font-weight: 300;
}

#sketch-container {
  height: 300px;
  background-color: #000032;
  position: relative;
}

#sketch-container canvas {
  max-width: 100%;
}

#sketch-container header {
  position: absolute;
  inset: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  user-select: none;
}

#sketch-container header h1 {
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  background: #ffffff24;
}

#sketch-container header p {
  font-size: 1.5rem;
  font-family: "Major Mono Display";
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-family: "Major Mono Display";
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-family: "Major Mono Display";
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

section header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 4rem 0 2rem;
}

section header p {
  font-size: 1.2rem;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: min(100%, 1000px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

li > a {
  position: relative;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 6px 0 #00000040;
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  padding-bottom: 1rem;
}

li > a h3 {
  font-weight: 300;
  font-size: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

li > a > div {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0 1rem 1rem;
  width: 100%;
  border-top-left-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 #00000040;
  z-index: 1;
}

li > a > img {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1/1;
}

li > a > div > p {
  font-size: 0.8rem;
  margin-top: 0;
}

footer {
  margin-top: 4rem;
}

/* Animations */

header h1 {
  opacity: 0;
  animation: 0.5s ease-out 0.25s 1 slideInFromTop forwards;
}

header p {
  opacity: 0;
  animation: 0.5s ease-out 0.5s 1 slideInFromTop forwards;
}

header h2 {
  opacity: 0;
  animation: 0.5s ease-out 0.75s 1 slideInFromTop forwards;
}

section header p {
  opacity: 0;
  animation: 0.5s ease-out 1s 1 slideInFromTop forwards;
}

li > a > div {
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
}

@media (hover: hover) {
  li > a > div {
    top: calc(100% - 3rem);
    bottom: unset;
  }

  li > a:hover > div,
  li > a:focus > div {
    transform: translateY(calc(-100% + 3rem));
  }

  li > a > div > p {
    opacity: 0;
  }

  li > a:hover p,
  li > a:focus p {
    animation: 0.25s ease-in-out 0s 1 fadeIn forwards;
    animation-delay: 0.2s;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translatey(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
