.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .ticket:not(:last-child) {
  margin-bottom: 4rem;
}

.ticket {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 200ms ease-in-out;
}

.ticket:hover,
.ticket:focus,
.ticket:active {
  transform: scale(1.05) rotate(6deg);
}

.ticket-corners {
  border: 1px solid #888;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e5614+0,d49039+7,824605+31,fae37d+68,ffffff+74,d9b153+89,ac722b+100 */
  background: linear-gradient(
    to right,
    rgba(158, 86, 20, 1) 0%,
    rgba(212, 144, 57, 1) 7%,
    rgba(130, 70, 5, 1) 31%,
    rgba(250, 227, 125, 1) 68%,
    rgba(255, 252, 211, 1) 75%,
    rgba(217, 177, 83, 1) 89%,
    rgba(172, 114, 43, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 -1px 4px 0 rgba(255, 255, 255, 0.7) inset;
}

.ticket.used .ticket-corners {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#595959+12,666666+34,1c1c1c+64,474747+79 */
  background: rgb(89, 89, 89);
  background: linear-gradient(
    to right,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 34%,
    rgba(28, 28, 28, 1) 64%,
    rgba(71, 71, 71, 1) 79%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.ticket-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem 1rem;
}

.ticket-body h6 {
  font-family: "Antonio", sans-serif;
  font-size: 120px;
  font-size: 6rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  margin: 0;
  line-height: 1;
}

.ticket-body p {
  margin: 0;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.ticket-id {
  font-family: "Antonio", sans-serif;
  font-size: 2rem;
  margin-top: -1.5rem;
  align-self: flex-end;

  background: linear-gradient(to bottom, #cd7f32 0%, #be7023 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.used .ticket-id {
  background: linear-gradient(
    to right,
    rgba(158, 86, 20, 1) 0%,
    rgba(212, 144, 57, 1) 7%,
    rgba(130, 70, 5, 1) 31%,
    rgba(250, 227, 125, 1) 68%,
    rgba(158, 86, 20, 1) 75%,
    rgba(217, 177, 83, 1) 89%,
    rgba(172, 114, 43, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.corner {
  width: 60px;
  height: 60px;
  border: 1px solid #888;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}
.ticket-corners .top {
  top: -30px;
}
.ticket-corners .bottom {
  bottom: -30px;
}
.ticket-corners .left {
  left: -30px;
}
.ticket-corners .right {
  right: -30px;
}

.ticket::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.ticket:hover::after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.ticket:active::after {
  opacity: 0;
}

.ticket-corners::before,
.ticket-corners::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  background-repeat: repeat;
  background-size: 20px 26px;
  background-image: radial-gradient(
    circle at -5px 15px,
    transparent 12px,
    white 13px
  );
  transform: rotate(0deg);
}

.ticket-corners::before {
  left: -8px;
  transform: rotate(180deg);
}

.ticket-corners::after {
  right: -8px;
}
